/****COMMON****/

body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --main-color: #0084FD;
    --second-color: #B5DDFF;
    --third-color: #9792E4;
}

.container {
    padding: 0 .625rem;
}


/****HEADER****/

header {
    background-color: var(--main-color);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container > * {
    padding: 1.25rem 0;
}

header .container .hamburger-menu {
    color: white;
    font-size: 2rem;
}

header .container .nav-menu {
    display: none;
}

.nav-menu ul {
    text-decoration: none;
    color: white;
    list-style: none;
}

.nav-menu ul li {
    display: inline-block;
    margin-right: 1.25rem;
}


/*****MAIN*****/

/*FIRST SECTION*/

.first-section {
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
}

.first-section .cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.625rem;
}


.first-section .cards .card {
    background-color: var(--second-color);
    width: calc(100% - 1.25rem);
    margin: 0 .625rem 1.25rem;
    border-radius: .9375rem;
}






/*------------------------------------
            RESPONSIVE
------------------------------------*/

/*****TABLET MIN WIDTH 768px*****/

@media screen and (min-width:768px) {
    
    /***MAIN***/

    /*FIRST SECTION*/

    .first-section .cards .card {
        width: calc((100% / 3 ) - 1.25rem);
    }
    
    .first-section .cards > :first-child {
        width: calc(((100% / 3) * 2) - 1.25rem);
    }

    

}


/*****DESKTOP MIN WIDTH 992px*****/

@media screen and (min-width:992px) {
    
    /***HEADER***/

    .container {
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }

    header .container .nav-menu {
        display: inline-block;
    }

    header .container .hamburger-menu {
        display: none;
    }

    /***MAIN***/

    /*FIRST SECTION*/

    .first-card-content {
        display: flex;
        justify-content: space-between;
    }

    
}