/****COMMON****/

body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --main-color: #0084FD;
    --second-color: #B5DDFF;
    --third-color: #9792E4;
}

.container {
    padding: 0 .625rem;
}


/****HEADER****/

header {
    background-color: var(--main-color);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container > * {
    padding: 1.25rem 0;
}

header .container .hamburger-menu {
    color: white;
    font-size: 2rem;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    left: -180px;
    background-color: var(--main-color);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .hamburger-menu:hover .dropdown-menu {
    display: block;
  }

header .container .nav-menu {
    display: none;
}

.nav-menu ul {
    text-decoration: none;
    color: white;
    list-style: none;
}

.nav-menu ul li {
    display: inline-block;
    margin-right: 1.25rem;
}


/*****MAIN*****/

/*FIRST SECTION*/

.first-section {
    margin-top: 1.25rem;
    margin-bottom: .9375rem;
}

.first-section .cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.625rem;
}


.first-section .cards .card {
    background-color: var(--second-color);
    width: calc(100% - 1.25rem);
    margin: 0 .625rem 1.25rem;
    border-radius: .9375rem;
}


/*SECOND SECTION*/

.second-section {
    background-color: var(--third-color);
    padding: .9375rem 0;
}

/*THIRD SECTION*/

.third-section {
    text-align: center;
}

.third-section h3,h2,p {
    margin-top: .9375rem;
}

.testimonials {
    background-color: var(--third-color);
    margin-top: .9375rem;
    border-radius: .9375rem;
    padding: .625rem .625rem;
}

/*FOURTH SECTION*/

.fourth-section {
    background-color: var(--third-color);
    padding-bottom: 1.25rem;
}

.fourth-section h2 {
    text-align: center;
    padding-top: 1.25rem;
}

.fourth-section .card {
    background-color: white;
    margin-top: 1.25rem;
    border-radius: .9375rem;
}

/*FIFTH SECTION*/

.fifth-section {
    padding: 1.25rem 0;
}

/*SIXTH SECTION*/

.sixth-section {
    background-color: var(--third-color);
    text-align: center;
    padding: .9375rem 1.25rem;
}


/****FOOTER****/

footer {
    background-color: #333333;
    color: white;
    text-align: center;
}

footer p {
    margin: 0;
    padding: .625rem 0;
}

footer .container :nth-child(2) {
    padding-top: 2.5rem;
}






/*------------------------------------
            RESPONSIVE
------------------------------------*/

/*****TABLET MIN WIDTH 768px*****/

@media screen and (min-width:768px) {
    
    /***MAIN***/

    /*FIRST SECTION*/

    .first-section .cards .card {
        width: calc((100% / 3 ) - 1.25rem);
    }
    
    .first-section .cards > :first-child {
        width: calc(((100% / 3) * 2) - 1.25rem);
    }

    /*THIRD SECTION*/

    .testimonials {
        display: flex;
        justify-content: space-between;
    }

    /*FOURTH SECTION*/

    

    .fourth-section .cards{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -0.625rem;
        
    }

    .fourth-section .cards .card{
        margin-left:  0.625rem;
        margin-right: 0.625rem;
        
        width: calc((100% / 2) - 1.25rem);
    }
    

    /*FIFTH SECTION*/

    .fifth-section {
        padding: 1.25rem 2.5rem;
    }

    .fifth-section .about-us {
        display: flex;
    }

    .about-us-left {
        width: 70%;
    }

    .about-us-right {
        width: 30%;
    }

    /*SIXTH SECTION*/

    .sixth-section .container {
        width: 70%;
        margin: 0 auto;
    }

    /***FOOTER***/

    footer .container {
        width: 70%;
        margin: 0 auto;
    }

}


/*****DESKTOP MIN WIDTH 992px*****/

@media screen and (min-width:992px) {
    
    /***HEADER***/

    .container {
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }

    header .container .nav-menu {
        display: inline-block;
    }

    header .container .hamburger-menu {
        display: none;
    }

    /***MAIN***/

    /*FIRST SECTION*/

    .first-card-content {
        display: flex;
        justify-content: space-between;
    }

    /*SECOND SECTION*/

    .second-section .container {
        width: 60%;
    }

    .second-section .cards {
        display: flex;

    }

    .second-section .card {
        width: 50%;  
    }

    /*FOURTH SECTION*/

    .fourth-section .cards .card { 

    width: calc((100% / 3) - 1.25rem);

    }

    /*SIXTH SECTION*/

    .sixth-section .container {
        width: 35%;
        margin: 0 auto;
    }

    /***FOOTER***/

    footer .container {
        width: 30%;
        margin: 0 auto;
    }
    

    
}